[2020-03-30 07:08] santiagobadia opened #1 "TimeStepper design"
Hi @fverdugo

In [this file](https://github.com/gridap/GridapTimeStepper.jl/blob/master/src/GridapTimeStepper.jl) I have some notes about how I think we should implement the `TimeStepper` object in `Gridap`. Please take a look, it is just at an initial stage, before starting to implement anything.

If we agree with the basic design, I can start working on this. I would like to have at least Backwa

[2020-03-30 15:35] fverdugo commented on #1
@santiagobadia I have added a draft the ODE machinery here https://github.com/gridap/GridapTimeStepper.jl/blob/fverdugo_comments/design.jl

Please take a look, and we comment it tomorrow.

[2020-03-31 06:13] santiagobadia commented on #1
Create `ODEOperator` for simpler cases, like `AffineODEOperator`

[2020-04-02 07:45] santiagobadia commented on #1
@fverdugo I have created the machinery for `ODETools` in 61cc1552384f3fba3a0232827960bdd47044b421

Can you take a look and make comments?

I have some questions/concerns:
* If we do not consider FE machinery, in `ODETools`, which solvers can we use? From `Julia`? Suggested package? The ones in `Gridap` are more for large problems with linear solvers, etc
* Minor issue with `fill_entries` not defin

[2020-04-02 08:26] fverdugo commented on #1
Can you take a look and make comments?

I'll take a look.

What do you mean by "solver" ? I assume that a time integrator, right? I would start by implementing our own specializations of `ODESolver` e.g., for backward Euler, as you have provably done. Then, we can look if there is some Julia package that returns the computed time steps not in a standard julia array (like DifferentialEquations seem

[2020-04-02 10:06] fverdugo commented on #1
Suggested renamings:

- GridapTimeStepper -> GridapTimeSteppers (pluralize package name to mach Gridap/julia style)
- jacobian_unknown! -> jacobian!
- jacobian_unknown_t! -> jacobian_t!

ODESolver

- I would not include `get_step_size(::ODESolver)` in the ODESolver interface since it is not general. Some solvers will compute the dt as a part of the solution process (i.e. predictor/corrector scheme

[2020-04-02 23:35] santiagobadia commented on #1
Ok to everything but first renaming, I don't think we have plural in GridapXXX packages. Only Tutorials. Do you mean to change everything? Even the github repos? Let us discuss it at the end.

I keep `fill_entries!` temporarily here, since I am not using the dev `Gridap` version... I will check how to use in the project.toml the dev version and eliminate it.

With regard to my questions

I just me

[2020-04-03 06:08] fverdugo commented on #1
If a module (a package is a module) provides the type `TimeStepper`, we usually call the module `TimeSteppers`. That's why I was thinking of `GridapTimeSteppers`.  I also like the plural since it denotes that the package provides different time steppers, not just one.

The general `fill_entries!` is already in `Gridap#master`. So, you only need  `add Gridap#master` in GridapTimeStepper and remove

[2020-04-05 07:01] santiagobadia opened #3 "Constructors for ODEOperators"
Hi @fverdugo

I have a doubt about the use of constructors in `ODEOperator`.

The idea is that a user can create a new ODE integrator as a new struct sub-typing `ODEOperator`.

On the other hand, we would like it to be automatically be used for FE problems.

E.g., the `BackwardEuler` constructor requires a `NonlinearSolver` and a `time size`.

However, I think we want a constructor that takes `Non

[2020-04-06 06:24] fverdugo commented on #3
The idea is to follow the same structure as with `NonLinearOperator`/`NonLinearSolver` and `FEOperator`/`FESolver`. To this end, the final ingredient missing is the transient counterpart of `FESolver`, which we can call `TransientFESolver`. You will also need to implement `TransientFESolution`, but this will be only a type used internally.

The final API would look something like:
[code]

For impl

[2020-04-10 11:58] santiagobadia commented on #3
Done

[2020-04-10 11:58] #3 closed

[2020-04-10 12:09] santiagobadia opened #4 "Creating a ODESolver from DifferentialEquations.jl"
Hi @fverdugo

I have been taking a look at `DifferentialEquations.jl`, in order to create `ODESolver`s as wrappers of this library solvers.

In our current version of the `GridapTimeStepper` package, I think that we can do it.

For instance, looking at the `DAE` solvers, what one requires is a residual, which is a method that we have.

https://docs.sciml.ai/stable/tutorials/dae_example/
https://do

[2020-04-12 03:41] santiagobadia commented on #1
Closed

[2020-04-12 03:41] #1 closed

[2020-04-12 03:43] santiagobadia opened #5 "Create a linear version of the types"
Up to now, I am considering general nonlinear solvers and operators.

We should consider also linear ones for performance.

For efficiency, we should explore the case in which the `TrialFESpace` is constant, not being tested yet.

[2020-04-12 09:31] santiagobadia commented on #4
I am trying to combine the ODE solvers in `DifferentialEquations.jl` with the PDE solvers in the `Gridap.jl` library.

It is mandatory for our applications to use the inplace version of the `DifferentialEquations.jl` package. This way, we can pre-allocate the required arrays in our `Gridap` solvers.

On the other hand, even when considering ODE systems, we want to use an implicit ODE expression of

[2020-04-12 09:47] santiagobadia commented on #4
Instead, when using the DAE machinery
[code]

it returns an error saying that `ImplicitEuler` is an ODE solver, not a DAE solver

[2020-04-14 05:51] fverdugo commented on #4
Yes, we can always implement the function solve_step! with the DifferentialEquations machinery and use our lazy `GenericODESolution` to represent all time steps in a lazy way. By the way, we only need to create the DifferentialEquations solver once for all time steps.

I need to have a look at the DifferentialEquations library to see their API before to be able to answer this question. If they hav

[2020-04-14 06:04] fverdugo commented on #4
It is possible to use in-place functions (at least for the residual) for systems of ODEs. See here:
https://docs.sciml.ai/latest/tutorials/ode_example/#Example-2:-Solving-Systems-of-Equations-1

In the link, they write `ODEProblem` instead of `ODEProblem{false}`. I don't know if this is the problem.

[2020-04-14 07:35] santiagobadia commented on #4
The issue is a little bit old, please take a look at this post

https://discourse.julialang.org/t/differentialequations-jl-inplace-implicit-ode-problem/37495

It must be `ODEProblem{true}` where `true` means `inplace` but the tutorial does not apply to us, because there is no mass matrix. But you can consider a non-trivial mass matrix, as replied in the post. I knew this option but still, it is no

[2020-04-15 15:03] fverdugo opened #7 "Rename package before registering"
This is just to remind us that we want rename the package before registering.

If I remember well, @santiagobadia proposed `GridapODEs`.

It is fine for me.

[2020-04-17 11:25] #7 closed

[2020-04-18 08:43] santiagobadia commented on #5
@fverdugo I have added a new file to allow one to consider linear solvers (thus circunventing the issue with nonlinear solvers)

https://github.com/gridap/GridapODEs.jl/blob/master/src/ODETools/LinearSolvers.jl

I think that these methods can go to Gridap. Take a look and let me know.

In any case, I think we must create a machinery that will allow us to say whether the mass matrix is constant, th

[2020-04-19 08:02] santiagobadia opened #10 "Multivalue bugs"
Hi @fverdugo

I have been working on `MultiFieldFESpace` and time integration.

I have added a vector Laplacian and Stokes problem. I have been fixing bugs, but there is still a bug I cannot understand.

I think it is related to
https://github.com/gridap/GridapODEs.jl/blob/c4c53ad55cc6c9816edd333ca5d17556b8a57ece/src/TransientFETools/TransientFEOperators.jl#L85-L104
but it is the same we have in `

[2020-04-19 08:59] santiagobadia opened #11 "GridapODEs dev version depends on Gridap#master"
Once we fix all the issues with `MultiFieldFESpace` and probably other e.g. `MeanValueFESpace`, and we are sure that `Gridap` provides the required functionality for this, we should upgrade `Gridap` to `v0.9.1` and update the `GridapODEs` version

[2020-04-20 09:20] fverdugo commented on #10
@santiagobadia I have fixed the problems in PR #12. Please, take a look to see what is going on an then merge.

The final check in the time-dependent stokes problem still fails, but this is provably related with the problem setup not with the library.

The first problem was related with some comments you have added marked as "hacks".
I wonder if there is still some code in the library that you con

[2020-04-20 11:27] #10 closed

[2020-04-20 11:54] santiagobadia opened #13 "zeromean not working"
@fverdugo I see that the `zeromean` related `FESpace` is not yet working, this part is missing.

https://github.com/gridap/GridapODEs.jl/blob/master/test/TransientFEsTests/TransientStokesEquationTests.jl

I remember you told me that there was a bug in `Gridap` for these spaces, not sure it will affect this development.

[2020-04-20 12:50] fverdugo commented on #13
Try to replace all instances of `FEFunction` by `EvaluationFunction` in this file:

https://github.com/gridap/GridapODEs.jl/blob/master/src/TransientFETools/ODEOperatorInterfaces.jl

`EvaluationFunction` is specifically created to solve this issue. I think that I have already mentioned before, but we forgot to use it here.

[2020-04-20 12:52] fverdugo commented on #13
By the way, `ZeroMeanFESpace` is not yet working in combination with `ExtendedFESpace` this is something I want to fix asap. Not related with this issue however.

[2020-04-20 12:57] fverdugo commented on #11
Once we depend again on a registered Gridap, then also remove the Manifest.toml file

[2020-04-25 09:11] #13 closed

[2020-04-25 09:15] santiagobadia opened #14 "Partial time derivatives with functions returning VectorValue"
@fverdugo can you tell me whether you find a way to implement **partial derivatives** using `ForwardDiff`. I think I have tried all the things that have come to my mind without success

[code]

[2020-04-26 11:10] santiagobadia commented on #11
Fixed in commit d5acdcec151e1c2776ae352ae26de13c60ec4a3f

[2020-04-26 11:10] #11 closed

[2020-05-23 08:28] ChrisRackauckas commented on #4
Hey, just found this. I can help you out here.

https://docs.sciml.ai/latest/basics/integrator/

https://docs.sciml.ai/latest/basics/common_solver_opts/#Output-Control-1 `save_everystep=false,save_start=false` saves nothing except the final timepoint, so you can save as much or as little as you want.

You probably never want to supply that, which is why we haven't updated support for that in awhil

[2020-06-08 06:14] santiagobadia commented on #5
Create a constant version of the linear operator.

[2020-06-19 10:20] santiagobadia commented on #5
# Linear Transient FE Operators

I am thinking about the definition of linear transient FE operators in `GridapODEs`.

For linear problems, there is not much to do. I think that the ThetaMethod can be kept as it is, since a `LinearSolver` is a sub-type of a `NonlinearSolver`. Due to this fact, for linear problems, we can already use linear solvers, and there is no performance hit for linear proble

[2020-06-19 13:19] fverdugo commented on #5
I would try to make the transient code as analogous as possible to the steady state.

Disclaimer: the names below can be improved.

For instance, the terms in the heat equations with Neumann bcs:
[code]

This is true, but I  think it would compute more things than strictly needed, you cannot take advantage of elemental matrices to impose Dirichlet boundary conditions, etc.

To avoid this, I would

[2020-06-20 07:45] santiagobadia commented on #5
Before discussing the FE part, and whether or not we want to start creating transient FE terms for all possible combinations (now we have three kinds of terms, not two), I think it is better to have a clear idea of how to deal with constant operators in `ODETools`. Note that the comment about the Dirichlet data for linear elements is far more complicated here, since you also have the ones that com

[2020-06-22 06:57] santiagobadia commented on #5
I propose:

1. Create a trait for `ODEOperator`

[code]

2. Use the same trait for `TransientFEOperator`
[code]
and `TransientFEOperatorFromTerms`, and define the corresponding constructor using `kwargs`
[code]

3. Use this trait in the `ODEOpFromFEOp` by modifying the `get_algebraic_operator` as follows
[code]

4. Using this trait for dispatching in `solver_step!` method of `ThetaMethod`
[code]

[2020-06-22 07:45] fverdugo commented on #5
OK, we can start by considering the affine non-constant scenario as a particular non-linear case.

We can define this constructor

[code]
In order to write

[code]
instead of

[code]

[2020-06-22 08:10] fverdugo commented on #5
On the other hand, I will create a new abstract type `ConstantODEOperator` instead of introducing a trait. The idea is to extend the library with this new functionality without touching what is already working.

This is the interface for this abstract type:
[code]

Then, we can implement an efficient version of  `solve_step!` in the theta method for this particular case

[code]

[2020-06-22 08:16] fverdugo commented on #5
The last ingredient is a specialization of `ConstantODEOperator` from all FE-related machinery. In general, this will require types `ConstantTransientFEOperator` (better name?) and `ConstantODEOpFromFEOp`

Here, we could even precompute the dirichlet blocks of  M and K using the DirichletFESpace so that we only integrate the source terms at each time step

[2020-06-23 06:18] santiagobadia commented on #5
Hi @fverdugo

I have done an implementation of affine and constant operators. I have finally decided to use traits, I find it is a nice way to provide the required functionality with a minimum number of lines.

I have to test the code, we can talk at some point, but I wanted to ask you about this error

https://github.com/gridap/GridapODEs.jl/blob/81522e533b5e1e6bc79cb2f065f77159fe963e93/test/Tran

[2020-06-23 06:32] fverdugo commented on #5
Try to remove the `...` after `terms` in this line:

https://github.com/gridap/GridapODEs.jl/blob/81522e533b5e1e6bc79cb2f065f77159fe963e93/src/TransientFETools/TransientFEOperators.jl#L90

[2020-06-26 05:55] santiagobadia commented on #5
Even though there is still room for optimisation, I think that the implementation after PR [#18](https://github.com/gridap/GridapODEs.jl/pull/18) solve this issue

[2020-06-26 05:55] #5 closed

[2020-06-26 05:56] santiagobadia commented on #14
@fverdugo @jesusbonilla

if you can take a look at this problem, and find a solution, let me know

[2020-06-26 08:16] jesusbonilla commented on #14
I think it could be related with the fact that all the entries in `VectorValue` need to be of the same type. Then, when you define:
[code]
Inside `ForwardDiff.derivative`, you will call `H(x::VectorValue{Float64},t::Forwardiff.Dual{Tag,Float64})`. Hence, the first entry of H would be a `Float64` while the second a `ForwardDiff.Dual`, and thus it crashes. If this is the case, then:
[code]
should wo

[2020-06-26 08:47] santiagobadia commented on #14
So, it cannot derive constant functions?

That is really dirty, users won't put 0*t

Any idea how to fix this issue?

[2020-06-26 08:57] jesusbonilla commented on #14
I agree `0*t` is not the way to go, it is just a workaround to check if this was your issue.

The problem is in the creation of the `VectorValue`. Thus, I would propose a creator for `VectorValue` that converts all entries to the same type, or a least in the case of mixing floats with duals. I can work on it, but right now I do not see an elegant straightforward solution. I will work on this.

[2020-06-26 10:10] fverdugo commented on #14
This works:

[code]
I will introduce the `promotion` under the hood so that the user can write the code more naturally. See
https://github.com/gridap/Gridap.jl/issues/297

[2020-06-26 13:14] fverdugo commented on #14
Fix on the way in https://github.com/gridap/Gridap.jl/pull/298

[2020-07-08 06:06] santiagobadia commented on #14
Solved in #20

[2020-07-08 06:06] #14 closed

[2020-07-09 09:40] santiagobadia commented on #4
Dear @ChrisRackauckas

Thanks a lot for you reply! And sorry for the huge delay answering.

I have followed your suggestions, and created a driver in a branch in which I have used `Sundials` with `Gridap`

https://github.com/gridap/GridapODEs.jl/blob/diffeqwrapper/test/TransientFEsTests/DiffEqsWrapperTests.jl

If you have some time, you can take a look and let me know.

At the end of this file, I

[2020-07-10 09:23] santiagobadia opened #22 "more flexible transient fe term constructors"
@fverdugo and @oriolcg

In `GridapODEs` we have lots of possible options to define terms (linear or nonlinear syntax; vector, stiffness matrix or mass matrix, etc). I propose the following:

[code]

to add to the alrady existing terms and deal internally with `nothing` for some terms in an efficient way.

Any suggestion?

[2020-07-10 09:25] santiagobadia commented on #22
The reason is that e.g. for boundary or skeleton terms, you do not have a mass matrix and/or stiffness matrix. Now @oriolcg is using the _solution_ `0.0*u*v`

[2020-07-10 09:37] santiagobadia commented on #22
Now we have
[code]
something like this
[code]
is this acceptable? How to define the `nothing`-like object that will be cheap (almost do-nothing) and will not return errors later?

[2020-07-10 09:41] fverdugo commented on #22
At this level you can do almost anything you like without worrying about performance

[2020-07-10 10:13] fverdugo commented on #22
Any suggestion?

This is a way of doing it. The other option would be to have a syntax in the line of the issue https://github.com/gridap/Gridap.jl/issues/265. But, this is something that needs to be further explored.

[2020-07-10 14:28] ChrisRackauckas commented on #4
`f_iip = DAEFunction{true}(residual;jac=jacobian,jac_prototype=mysparsematrix)`

See https://docs.sciml.ai/latest/tutorials/advanced_ode_example/ for more tutorials on that stuff.

https://docs.sciml.ai/latest/tutorials/advanced_ode_example/ shows swapping out linear solvers. https://docs.sciml.ai/latest/features/linear_nonlinear/ is all of the extra details.

All of the DiffEq and Sundials solver

[2020-07-11 11:46] santiagobadia opened #23 "bug when integrating any skeleton term"
Hi @fverdugo @oriolcg

I see that whatever term I try to integrate with skeleton, it does not work.

E.g., you can find the DG heat equation test here

https://github.com/gridap/GridapODEs.jl/blob/bug_skeleton_terms/test/TransientFEsTests/DGHeatEquationTests.jl

The stack trace of the error is horrendous. The error is

[code]

Any idea what is going on in Gridap?

I don't see anything special in `

[2020-07-13 10:34] santiagobadia commented on #23
@connormallon skeleton cell bug fixed in #24

I Close the issue

[2020-07-13 10:34] #23 closed

[2020-07-17 14:11] oriolcg opened #25 "Theta method for DAEs"
Hi @santiagobadia, there is a problem when working with solutions of a DAE system solved using the theta-method. The values of the constraining field at `n+1` are wrong when `0 < \theta < 1`.

For instance for a Navier-Stokes problem, currently we have the following approach:
  1. Solve for `(u_\theta,p_\theta)`
  2. Update the solution `(u_np1,p_np1) = 1/\theta * (u_\theta,\p_theta) + (1-\theta)/

[2020-07-18 02:38] santiagobadia commented on #25
Hi @oriolcg

I don't think this is an error. I would say this is pretty common, the theta method return the solution at the end of the step, not intermediate stages.

I don't think that the drag for `u^n+1,p^n+1` is wrong, I think that you can only expect first order accuracy for the pressure, and thus, it is as good approximation `p^n+1` and `p^n+\theta`.

I would not solve for a pressure Poisson

[2020-07-19 18:33] oriolcg commented on #25
Hi @santiagobadia, thanks for the comments. I didn't mean to say that the theta method is wrong, just that for this particular case you can have artificial pressure oscillations in time due to this linear extrapolation. I agree with you that returning the results at `n+1` is, and should be, the standard of practice.

Actually, I've been using the option 1 in all my drivers (NSI and FSI) and it wor

[2020-07-19 18:33] #25 closed

[2020-07-27 10:28] fverdugo opened #28 "Discussion on time-dependent adjoints"
[code]

cc @santiagobadia @oriolcg

[2020-07-27 10:59] santiagobadia commented on #28
@oriolcg and @fverdugo

I would consider the following steps:

1. To create a `CheckpointedSolution` of a lazy `ODESolution`. The obvious case is store all steps, but we could consider other more advanced constructors that accept a function that says whether a step must be stored or not in the future.

2. The `CheckpointedSolution` should iterate as a standard `ODESolution` BUT with the only diffe

[2020-07-29 00:10] santiagobadia opened #29 "Add Autodiff machinery for transient FE operators"
@fverdugo @oriolcg following the developments for automatic computation of jacobians from residuals (or even residuals from energy functionals) in `Gridap`, discussed in this [issue](https://github.com/gridap/Gridap.jl/issues/79), we should extend it in `GridapODEs` for transient problems.

I would say that we need (at least) to create a transient version of `FETermsWithAutodiff`, e.g., `Transient

[2020-07-31 06:02] santiagobadia commented on #4
I have worked a little bit on the driver that makes use of `Sundials` in this [file](https://github.com/gridap/GridapODEs.jl/blob/diffeqwrapper/test/TransientFEsTests/DiffEqsWrapperTests.jl)

I have found a couple of issues 1) related to `jac_prototype` (when I pass my own sparse matrix I get an internal error). If I don't pass the Jacobian prototype, 2) the nonlinear solver does not converge if t

[2020-08-03 17:45] kanav99 commented on #4
Hi @santiagobadia, I am from SciML. I was having a look, do you have an example of the following issues? Any code snippets which I can change to reproduce the error?

[2020-08-04 01:18] santiagobadia commented on #4
Hi @kanav99

Please take a look at this test

https://github.com/gridap/GridapODEs.jl/blob/diffeqwrapper/test/TransientFEsTests/SimpleDiffEqsTest.jl

When I pass `jac_prototype` it gets stuck.

[2020-08-04 09:05] kanav99 commented on #4
Yes I was having a look at that file. What I wanted to know was what you pass as jac_prototype that it gets stuck. If I could get a script that I can run to reproduce the error, that would be very helpful

[2020-08-04 09:19] santiagobadia commented on #4
I pass a `SparseArrays.SparseMatrixCSC{Float64,Int64}`, which is `J` in the code.

[2020-08-04 10:14] kanav99 commented on #4
I was trying DImplicitEuler instead of IDA, I am not sure if IDA is compatible with Sparse Matrices (cc: @ChrisRackauckas ). There where some changes needed for OrdinaryDiffEq (https://github.com/SciML/OrdinaryDiffEq.jl/pull/1231) but we need the jacobian function to have 5 (J, du, u, p, t) instead of 6 arguments (gamma is extra)

[2020-08-04 10:57] santiagobadia commented on #4
Let us assume that I have a nonlinear problem `A(t,u,u') = 0`, and I can provide `∂A/∂u` and `∂A/∂(u')` or `∂A/∂u + γ*∂A/∂(u')`, where γ represents `d(Δₜ u)/du`, with `Δₜ` being the discretisation of the time derivative in the time integrator. Without γ, I am not sure how to combine the partial derivative of the operator A wrt `u` and its time derivative `u'`. Should I assume a particular value fo

[2020-08-04 11:07] ChrisRackauckas commented on #4
It should be. https://github.com/SciML/Sundials.jl/blob/master/test/common_interface/jacobians.jl#L41-L92

No, not for DAEs. For DAEs the definition of `gamma` is required, as defined in https://diffeq.sciml.ai/stable/features/performance_overloads/#Declaring-Explicit-Jacobians-for-DAEs-1 and as @santiagobadia explains it is necessary for the definition of a DAE's Jacobian.

Step one for testing t

[2020-08-04 11:12] ChrisRackauckas commented on #4
I just noticed we only had a test on CVODE with sparse (https://github.com/SciML/Sundials.jl/blob/master/test/common_interface/jacobians.jl#L27) so indeed that could be the issue. But when you choose a sparse matrix, you also have to switch the linear solver in Sundials. Right now Super LU isn't built (https://github.com/SciML/Sundials.jl/issues/249), so you need to use `IDA(linear_solver=:KLU)`.

[2020-08-04 11:14] ChrisRackauckas commented on #4
BTW @santiagobadia, is there any way for this to get a definition as a DAE in mass matrix form? That would open up a lot more opportunities to test.

[2020-08-04 11:23] santiagobadia commented on #4
Yes, I will do it and let you know.

[2020-08-06 18:25] kanav99 commented on #4
Yes, I was confusing between ODEs and DAEs sorry. I just fixed this and I now get a dimension mismatch. The `u0` is of size 1 and the jacobian is of size 4x4, why is that?

[2020-08-07 12:18] santiagobadia commented on #4
@kanav99 are working on this [file](https://github.com/gridap/GridapODEs.jl/blob/diffeqwrapper/test/TransientFEsTests/SimpleDiffEqsTest.jl)?

I cannot reproduce the error you mention. Everything is dim correct. If you play with `n` (number cells per dim in 2D square heat eq) you can change the dim of the system.

@ChrisRackauckas I provide the mass matrix now in the same [file](https://github.com/

[2020-08-07 12:20] ChrisRackauckas commented on #4
Mass matrices can only be used with implicit methods, e.g. https://diffeq.sciml.ai/stable/solvers/dae_solve/#OrdinaryDiffEq.jl-(Mass-Matrix)-1 . @kanav99 can probably take it from here.

[2020-08-07 18:05] kanav99 commented on #4
@santiagobadia I pulled the latest commit and it works now, thanks! And yes, mass matrices work for Implicit methods. I see that IDA() works well now.

[2020-08-14 04:49] santiagobadia commented on #4
Ok, @kanav99

I have cleaned things up. I would say that with the methods I provide you could use play with `DifferentialEquations.jl` solvers. You can see the different methods being used here:

https://github.com/gridap/GridapODEs.jl/blob/ee3d0b64fb1323ddb16d279bc3e4bcdd47f9a714/test/DiffEqsWrappersTests/DiffEqsTests.jl#L71-98

You can extract the full jacobian `J`, the mass matrix `M`, what I c

[2020-08-25 13:57] oriolcg opened #37 "Error with Gridap@0.14"
Hi @fverdugo,

The following assert breaks when using `TransientFESpaces` with the latest version of Gridap:
https://github.com/gridap/Gridap.jl/blob/5d8ba281f8e96c63235be59a5821c7eda23ac5bf/src/CellData/CellFields.jl#L252

The new developments in Gridap are supposed to work with GridapODEs or there is something that has to be accommodated in GridapODEs?

I don't know if this issue is also related

[2020-08-25 14:11] fverdugo commented on #37
Do you have a reproducer?

[2020-08-25 14:25] oriolcg commented on #37
Yes, this simple code fails at the same point:
[code]

[2020-08-26 08:55] oriolcg commented on #37
My understanding of this error is that when calling `TransientFEOperator(U,V,terms)`, an `HomogeneousTrialFESpace` is created for the time derivative of the Trial space `U`. In the process of creating this new trial space, a `TestFESpace` is expected, but we are sending a `TrialFESpace`.

Before, in the `TrialFESpace` constructor we were calling the function https://github.com/gridap/Gridap.jl/blo

[2020-08-26 10:32] fverdugo commented on #37
Yes, as of Gridap 0.14, you can only construct a `TrialFESpace` from a test space. The call to `trialize_cell_basis` in the inner constructor makes the restriction: https://github.com/gridap/Gridap.jl/blob/35c4c6377c3b3b9cf85b1d8566730b2f3d43eec5/src/FESpaces/TrialFESpaces.jl#L8

This was not the case in Gridap 0.13, and therefore the error. We need to recover the old behaviour. It should be trivi

[2020-08-26 10:53] oriolcg commented on #37
Thanks @fverdugo. I'll do the PR with the fix.

[2020-08-26 17:11] kanav99 commented on #4
I am trying to find more examples, but for now these are the methods I am trying -
[code]

[2020-08-26 17:12] ChrisRackauckas commented on #4
What about mass matrix form?

Also, IDA?

[2020-08-26 17:18] kanav99 commented on #4
IDA Fails for n >= 3 (this just increases the state size), we get a `[IDAS ERROR]  IDACalcIC Newton/Linesearch algorithm failed to converge.`.

For mass matrix form, I think we need the ODEFunction.

[2020-08-27 07:41] fverdugo commented on #37
@oriolcg can we close the issue?

[2020-08-27 07:53] oriolcg commented on #37
Yes, it's solved. Closing issue

[2020-08-27 07:53] #37 closed

[2020-08-31 18:20] jd-lara commented on #4
@ChrisRackauckas FWIW I make tests will all the currently supported Linear Solvers and IDA in https://github.com/NREL-SIIP/PowerSimulationsDynamics.jl/blob/master/test/test_sundials.jl and works well.

[2020-09-14 20:43] oriolcg commented on #29
Hi @santiagobadia @fverdugo. I started the implementation of `TransientFETermsWithAutoDiff` in the `transient_autodiff` branch. It's already working for the heat equation, see the [test](https://github.com/gridap/GridapODEs.jl/blob/transient_autodiff/test/TransientFEsTests/HeatEquationWithAutoDiffTests.jl). However, there are a couple of issues:
1) I had to rename the `FETerm` function to avoid co

[2020-09-15 02:54] santiagobadia commented on #29
I don't like the name `FETerm_t`. I guess the same problem is in `Gridap`, isn't it? How is it solved there?

I would probably consider keeping the auto diff term with `FETerm` and change the name of the other one. Or call it `TransientFETerm` and call both the hand-written and auto diff versions the same way, now there is no interface collision, is it?

@fverdugo can answer the Stokes part.

[2020-09-15 06:47] fverdugo commented on #29
Hi @oriolcg

The navier stokes tutorial works with autodiff by simply replacing `FETerm(res,jac,...)` by `FETerm(res,...)`. Thus, it should work for (steady-state) stokes as well.

[2020-09-15 06:52] fverdugo commented on #29
I would compute jacobian and jacobian_t with and without autodiff and see if they match. Perhaps there is some problem with the scaling of jacobian_t, just guessing.

[2020-09-15 06:57] oriolcg commented on #29
It's already working for the transient Heat equation, so I assume that the `jacobian_t` should be fine at least for scalar problems. The error that I get for the transient Stokes test is the following:
[code]
Since it's related to a `BlockArray` issue, I was wandering if we need to do something special for multifields. Did you face something similar when implementing the autodiff for the steady ve

[2020-09-15 07:16] fverdugo commented on #29
Yes, this looks specific to multi-field or to skeleton faces. But AD seems to work for the steady case.

[2020-09-16 13:03] oriolcg commented on #29
@fverdugo, I've been investigating the issue, but I still don't have a clear idea of what's happening. If I don't include the term `q*(div(u))` into the residual, it computes the `jacobian` and `jacobian_t` . Of course, the problem is singular, but at least I get the `jacobian_t`. However, as soon as I add this term it throws me the error reported on the earlier message.

This is the residual I'm

[2020-09-16 13:28] fverdugo commented on #29
@oriolcg Does it work for the steady state version of this problem?

[2020-09-16 14:01] oriolcg commented on #29
Yes, it does. Steady scalar, steady multi-field and transient scalar are working fine

[2020-09-16 14:57] fverdugo commented on #29
Fails in this function ?

https://github.com/gridap/GridapODEs.jl/blob/e413b3d6a631651134f6a4c499f0b55e4dd7d391/src/TransientFETools/TransientFETermsWithAutoDiff.jl#L37

In which line?

[2020-09-16 15:27] oriolcg commented on #29
Yes, this is the call stack:
``
\src\Arrays\VectorsOfBlockArrayCoo.jl:31
\src\Arrays\VectorsOfBlockArrayCoo.jl:15 (repeats 2 times)
\src\Fields\FieldOperations.jl:370`
\src\Fields\FieldArrays.jl:275
...
\Arrays\Apply.jl:61
\src\Arrays\Autodiff.jl:80
\src\Arrays\Autodiff.jl:45
\src\FESpaces\FEAutodiff.jl:31
\src\TransientFETools\TransientFETermsWithAutoDiff.jl:49
[code]

[2020-09-17 11:43] oriolcg commented on #29
For some reason, when going into this line: https://github.com/gridap/Gridap.jl/blob/1dfc66234202cd70a39f07cf5ffbf9ad192fdd5d/src/Arrays/VectorsOfBlockArrayCoo.jl#L31

the jacobian of the steady part has `blockids = [(1,1)]` with `blocks` an Array of size 1 filled with ForwardDiff duals, and the transient jacobian has  `blockids = [(1,1),(1,2)]` with `blocks` an Array of size 2 filled with Forward

[2020-09-17 15:47] fverdugo commented on #29
It seems it is trying to differentiate wrt `pt` and it fails

[2020-09-19 12:37] oriolcg commented on #29
Yes, definetively the problem seems to be there. I tried to split the residual `res = res_x + res_t` and construct the jacobians with respect to `res_x` and `res_t`, respectively. If I do that, I don't have any contribution from the pressure block (neither test nor trial) in the temporal residual and it works. However, this is not a good solution because you won't always have residuals that can be

[2020-10-19 19:00] oriolcg commented on #29
Hi @fverdugo,

I've been digging a bit more into this issue and I think I have an idea of what could be happening, but, if this is the case, I'm not completely sure how to fix it.

The problem appears when we have a binary operation, let's say `+`, between two terms corresponding to two different blocks and only one of the terms contains a variable with respect to which we differentiate. To put a

[2020-10-20 04:27] ConnorMallon opened #40 "Linear solver on non-linear time-dependant problems"
When solving a non-linear time dependant problem with a manufactured solution that is independent of time, the ls solver gets the solution wrong but the nls solver with 1 iteration gets the solution right.

This is because when we use the nls we use the previous time-step solution to calculate a residual(u_n) and jacobian(u_n). So, if we have a solution which is constant in time then residual(u_n)

[2020-10-20 05:58] santiagobadia commented on #40
The linear solver will work for linear problems.
The nonlinear solver will work for nonlinear problems.
To pass a linear solver for a nonlinear problem is a hack. We could probably change the implementation in such a way that to pass a linear solver is the same as only one nonlinear iteration with u0 = un.
What should work is to pass a nonlinear solver (with a linear solver inside) and enforce 1 i

[2020-10-20 06:05] ConnorMallon commented on #40
ok no problem we will leave it then (the last option is working)

[2020-10-20 06:05] #40 closed

[2020-10-23 19:21] oriolcg opened #41 "TransientTrialFESpace without Dirichlet boundaries returns TrialFESpace"
The function `TransientTrialFESpace` called with only one argument (the corresponding `TestFESpace`) returns an `HomogeneousTrialFESpace` which is a `TrialFESpace` type, see line https://github.com/gridap/GridapODEs.jl/blob/beb8148f5c83bcd7bc6e80cb966b454ce02587cf/src/TransientFETools/TransientFESpaces.jl#L17

It should  define a `TransientTrialFESpace`, maybe calling the constructor with a dummy

[2020-11-01 19:20] #41 closed

[2020-11-01 19:29] oriolcg commented on #29
@santiagobadia @fverdugo, I got stuck with this issue. If the blocks cannot support different types (see issue https://github.com/gridap/Gridap.jl/issues/430) I don't see a way forward other than sending two different residuals to the `TransientFETerm`, one for the unknown and the other for the time derivative.

I would like to avoid it because it doesn't allow coupling between unknown and time de

[2020-12-14 22:28] santiagobadia commented on #29
@oriolcg @fverdugo now that we do not have `FETerm` anymore, do you think that we can update this discussion? Is the showstopper you @oriolcg mention :point_up: still there? Probably yes, but manifested in a different way

[2020-12-15 07:50] JuliaTagBot opened #45 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2020-12-15 07:50] #45 closed

[2021-01-03 00:49] santiagobadia commented on #29
@oriolcg is there anything still open here? can we close the issue?

[2021-01-03 12:11] oriolcg commented on #29
With the newer version I didn't face any of the issues reported in this issue. I'm closing it.

[2021-01-03 12:11] #29 closed

[2021-01-06 17:09] reula opened #48 "Failed to precompile GridapODEs"
Hi, probably is something very trivial, but I don't find the problem:

┌ Info: Precompiling GridapODEs [55e38337-5b6e-4c7c-9cfc-e00dd49102e6]
└ @ Base loading.jl:1278
ERROR: LoadError: LoadError: UndefVarError: Inference not defined
Stacktrace:
 [1] include(::Function, ::Module, ::String) at ./Base.jl:380
 [2] include at ./Base.jl:368 [inlined]
 [3] include(::String) at /Users/reula/.julia/package

[2021-01-06 18:05] oriolcg commented on #48
It looks like there is a problem using Gridap modules. ODETools.jl:11 is the first line that calls Gridap.jl.

[2021-01-09 10:06] ChrisRackauckas commented on #4
I'll take a quick look at the Sundials thing because that's a bit weird, but let's revive the discussion on the mass matrices. We have `res!`, but `f(du,u,p,t) = res!(...) - M*u` would be a very inefficient way to do it. Is there no way to direct get the RHS @santiagobadia ?

[2021-01-09 10:14] ChrisRackauckas commented on #4
The only issue in the other example is that when you use a sparse matrix you have to use a linear solver for sparse matrices.

[code]

works fine. Sundials does give you the ability to swap out linear and nonlinear solvers. We haven't fully exposed that yet, but it's not too difficult to do. @jd-lara was working on https://github.com/SciML/Sundials.jl/pull/281 to get SuperLUMT which is a better li

[2021-01-09 10:16] ChrisRackauckas commented on #28
With the DiffEq wrapper, the only thing left I think you need for the adjoints is to make use of `p`. Some of the functions won't vjp with Zygote though so it would need to use Array of struct ReverseDiff, but these functions should be compatible with `ReverseDiffVJP(true)`.

[2021-01-09 10:23] ChrisRackauckas opened #50 "Add internal solvers to the common interface?"
Since there are some internal fixed time step DAE solvers in here, it would nice to get them setup with dispatches to `DiffEqBase.__solve` to then allow them to be used in other cases. It would be a good way to benchmark them in various contexts.

[2021-01-09 11:44] fverdugo commented on #4
Hi @ChrisRackauckas !

By looking at the interfaces at src/ODETools/ODEOperators.jl it seems that we dont have (yet) methods to get the RHS directly. However, we have the OperatorType trait to signal which class of ode we have in order to do optimizations.

I believe we need to enrich the interfaces for the cases Affine and Constant, to get M, K, f (following notation in src/ODETools/ODEOperators.

[2021-01-09 17:39] ChrisRackauckas commented on #4
Great. Yes notice I showed how to get Sundials working with the sparse matrices, that should be decent for now. Given you are interested, I'll make sure we get our ops people building the SuperLUMT version for Sundials. But having a `Mu' = f` version of the DAEs would allow us to use more pure Julia tools. I'd like to try and get a fully GPU-accelerated solve with RadauIIA5 once we can and highlig

[2021-01-10 10:41] fverdugo commented on #4
Hi @ChrisRackauckas,

I just realized that functions for M and K are in fact jacobian_t and jacobian respectively. The missing function is for the rhs f, but one can always compute it as minus residual for u=0 and u_t=0. Of course this will integrate some terms more than a dedicated function for the rhs, but you can give a try for the moment.

[2021-01-10 21:18] oriolcg commented on #4
Just a minor remark here, `jacobian_t` does not return `M`, but `γ*M` with `γ` the corresponding coefficient of the ODE solver.

[2021-01-11 06:51] fverdugo commented on #4
Yes, good point @oriolcg! One needs to call `jacobian_t` with `dut_u=1.0` for getting `M`.

[2021-01-12 08:34] ChrisRackauckas commented on #4
Under some assumptions this works:

[code]

I do get some oscillations at zero though, probably because the assumptions aren't satisfied.

![plot](https://user-images.githubusercontent.com/1814174/104288371-b6d92600-5485-11eb-9786-a4e563dcb4ce.png)

[2021-03-09 19:50] oriolcg opened #52 "new API for transient FE operators"
As @fverdugo suggested, it would be nice to have this API
[code]
instead of
[code]

That should be easy to do by defining a new struct (or similar) such as
[code]
and implementing the functions: `∂t(u::TransientFEFunction)=u.x[2]` and `∂tt(u::TransientFEFunction)=u.x[3]`. However, there is the issue of what to do for the 0-th time derivative, i.e. in `a(u,v)`, since now this will contain a tuple.

[2021-03-10 09:32] fverdugo commented on #52
Unfortunately, it is not so straightforward since you don't want to implement this for fe functions only, and you also want that your transient type behavies like a cell field.

I would try something like this:

[code]

I am not sure if this will work when the cell field is a basis. I believe that the proper way to handle basis is to use the abstract type `FEBasis` introduced in the `mixed_dims` b

[2021-03-25 21:03] oriolcg commented on #52
@fverdugo, @santiagobadia The new API is working in the branch https://github.com/gridap/GridapODEs.jl/tree/new_API_transient_fe_operators. I'll wait for the PR until the branch `update_to_Gridap_0_16` is merged, which is ready and waiting for Gridap@0.16 to be registered.

After these merges, I think it should be a good point to release GridapODEs@0.7

[2021-03-26 08:58] fverdugo commented on #52
Great! Does this work also for mixed-dimensional PDEs ? I think it's the more problematic case...

[2021-03-26 12:55] oriolcg commented on #52
Good point, I haven't tried. I'll add a test for that.

[2021-07-24 00:36] ConnorMallon opened #56 "Test Set"
Is there a reason why not all of the tests are in the runtests.jl file?

i.e. there are 14 test in test/TransientFEsTests
      but only 11 tests in test/TransientFEsTests/runtests.jl

[2021-10-05 00:24] ConnorMallon commented on #56
Hey @oriolcg, the autodiff tests are currently not included in the test set. Should these be working or is there more development required to get them working? For me, the ```StokesEquationAutoDiffTests.jl``` errors.

[2021-10-05 15:38] oriolcg commented on #56
Hi @ConnorMallon, I updated the auto-diff part of `TransientFEOperators`  in the branch "[Fixing_autodiff](https://github.com/gridap/GridapODEs.jl/tree/Fixing_autodiff)". The Stokes test still doesn't work, but I think that the problem might be related to issue gridap/Gridap.jl#584. The other test that is not added is the ForwardEuler test, which I haven't had time to check where is the problem.

[2021-10-05 19:58] ConnorMallon commented on #56
Ok I see, thanks Oriol :)

[2021-11-16 18:29] ThomasHaine opened #60 "Example code solve bug"
Running the example code in Julia 1.6.2 gives at the solve command:

`ERROR: LoadError: MethodError: no method matching solve(::ThetaMethod, ::GridapODEs.TransientFETools.TransientFEOperatorFromWeakForm{Nonlinear}, ::Gridap.FESpaces.SingleFieldFEFunction{Gridap.CellData.GenericCellField{ReferenceDomain}}, ::Float64, ::Float64)`

[2021-11-16 20:46] oriolcg commented on #60
Thanks for reporting this error @ThomasHaine. It should be fixed in this PR #61, you can check the new README file here: https://github.com/gridap/GridapODEs.jl/blob/0e0cf3b027c43eb8e9cbfe9fec71279bffe1389d/README.md

[2021-11-16 20:46] #60 closed

[2022-01-06 08:38] #56 closed

[2022-01-06 08:39] #52 closed

[2022-01-06 08:39] #48 closed

[2022-01-07 14:22] oriolcg opened #66 "Support for GridapDistributed"
Hi @santiagobadia, @amartinhuertas. @fverdugo,

I started the developments to support `GridapDistributed` in `GridapODEs`. The idea that I had in mind is try to keep the same structures and just add support for the new types that are not in `Gridap`. Do you think this is the way forward? Did you have something already in mind for the transient case?

For the moment, I just had to adjust some types

[2022-01-07 22:27] amartinhuertas commented on #66
Hi @oriolcg! I am currently on leave till 17th January but I read your post and I think (may be I am wrong, I am on a mobile phone with a poor internet connection) I know the cause of the problem with matvec, so that I may be able to save you some debugging time. (To answer the rest of your questions I need some extra time after I come back). I indeed faced the same problem while parallelizing Gri

[2022-01-08 22:05] oriolcg commented on #66
Thanks @amartinhuertas for the quick reply. I'll take a look at this workaround and try to see how to implement in GridapODEs.

On a side note, I have a first simple test working for the distributed case (simple heat equation with single field and without matvec operations), see d4e8f455b7b2febedc29b082d2ad7c40c0e0976a

[2022-02-07 18:02] herveta opened #67 "Example code is not working"
I launched the GridapODE example from the Github page, and it did not work... I got the following error (capy-pasted into a file, launched julia, included the file, and bim!). It seems the solver is not adapted, but I have trouble understanding where the problem really is.

julia> include("heat-dynamic_v0.jl")
ERROR: LoadError: MethodError: no method matching solve(::ThetaMethod, ::GridapODEs.Tran

[2022-02-07 20:00] oriolcg commented on #67
Hi @herveta, which version of `GridapODEs` are you using? It should work with `GridapODEs@0.8.0`

[2022-02-09 09:07] herveta commented on #67
Thanks for your fast reply !
I use GridapODEs@0.7.0 with Julia 1.6.5 (which I chose because it is Long Term Support). I downloaded GridapODEs through the builtin package manager.

[2022-02-09 10:55] herveta commented on #67
I activated GridapODEs 0.8.0 via an environment, and "Pkg.activate". Works fine. Seems like a simple operation (I learn Julia at the same time), I apologize for the issue. A warning for the example code with the reference version would be nice.
Thank you

[2022-02-09 10:55] #67 closed

[2022-02-25 20:47] umbriquse opened #69 "Doc's Link is broken"
Hello,

I wanted to check out the documentation on this package, but the link to get to the page is giving me a `404 ERROR`.

[2022-02-28 02:19] santiagobadia commented on #69
@umbriquse

Thanks for the info.

GridapODEs has been merged into Gridap, so I am going to archive the repos.

You will find all the docs about GridapODEs in the Gridap documentation.

[2022-02-28 02:19] #69 closed

[2022-02-28 02:20] santiagobadia commented on #66
Work in GridapDistributed

[2022-02-28 02:20] #66 closed

[2022-02-28 02:20] #50 closed

[2022-02-28 02:21] #22 closed